@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-color: #333;
}

.one-two-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.four-five-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.seven-eight-eight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.nine-ten-ten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.ten-eleven-eleven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.eleven-twelwe-thirteen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.thirteen-thirteen-trophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.trophy-eleven-trophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.card {
  position: relative;
  margin: 20px 80px;
  /* padding-bottom: 100; */
  width: 450px;
  height: 700px;
  -webkit-perspective: 800px;
          perspective: 800px;
}
.card--active {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.img {
  width: 100%;
  height: 100%;
  background-position: 0 -20px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.one {
  background-image: url("../img/Mad_Runners_second_place.jpg");
}

.two {
  background-image: url("../img/MadRunnersfirstplace.jpg");
}

.three {
  background-image: url("../img/Mad_Runners_third_place.jpg");
}

.four {
  background-image: url("../img/four.jpg");
}

.five {
  background-image: url("../img/five.jpg");
}

.six {
  background-image: url("../img/six.jpg");
}

.seven {
  background-image: url("../img/seven.jpg");
}

.eight {
  background-image: url("../img/eight.jpg");
}

.nine {
  background-image: url("../img/nine.jpg");
}

.ten {
  background-image: url("../img/ten.jpg");
}

.eleven {
  background-image: url("../img/eleven.jpg");
}

.twelwe {
  background-image: url("../img/twelw.jpg");
}

.thirteen {
  background-image: url("../img/thirteen.jpg");
}

.trophy {
  background-image: url("../img/trophy.jpg");
}

.numbers {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 15%;
  top: 57%;
  width: 300px;
  height: 250px;
  background-color: #ffffff;
}
.numbers p {
  color: black;
  font-size: 10rem;
  font-weight: normal;
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.text-one-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Grzegorz Szczepański.jpg");
}

.text-two-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Sławomir Ordyniec.jpg");
}

.text-three-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/pati.jpg");
}

.text-four-image {
  width: 100%;
  height: 100%;
  background-position: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Marta Łyko.jpg");
}

.text-five-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Agnieszka Malinowska.jpg");
}

.text-six-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Paweł Pachelski.jpg");
}

.text-seven-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/kazik (2).jpg");
}

.text-eight-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Wojtek Wojtkowski.jpg");
}

.text-eight-two-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/grzesz.jpg");
}

.text-nine-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors//Bartek DYKO.jpg");
}

.text-ten-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Daniel traczyński.jpg");
}

.text-ten-two-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors//Dominik dargacz.jpg");
}

.text-eleven-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/sara dwojak.jpg");
}

.text-twelwe-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Mariusz Łyko.jpg");
}

.text-thirteen-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Adrian Sarnecki.jpg");
}

.text-thirteen-two-image {
  width: 100%;
  height: 100%;
  background-position: -350px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/magdasoch.jpg");
}

.text-thirteen-three-image {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Luk.jpg");
}

.text-thirteen-four-image {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Luk.jpg");
}

.text-thirteen-five-image {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/tomkiewicz.jpg");
}

.text-thirteen-six-image {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-image: url("../img/comeptitors/Bartek Szpargała.jpg");
}

/* linear-gradient(315deg, #fee2f8, #dcf8ef 74%) */
h1 {
  font-size: 2.3rem;
  color: aliceblue;
  margin-top: 450px;
  margin-bottom: 20px;
}

p {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
}

.text-one {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.text-two {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.text-three {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .text {
  -webkit-transform: rotatex(0);
          transform: rotatex(0);
  opacity: 1;
}

.card:hover .one {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.card:hover .two {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .three {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
  -webkit-animation: up 0.8s;
          animation: up 0.8s;
}

.card:hover .text-three {
  -webkit-animation: down 0.8s;
          animation: down 0.8s;
}

.card:hover .four {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.card:hover .five {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .six {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.card:hover .seven {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .eight {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.card:hover .nine {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .ten {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
}

.card:hover .eleven {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .twelwe {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .thirteen {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

.card:hover .trophy {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  opacity: 0;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
@keyframes down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}/*# sourceMappingURL=main.css.map */